[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene /usr/share/calendar-app/calendar.qml
Icon=/usr/share/calendar-app/calendar64.png
Name=Calendar
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=calendar-app
