[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene calendar.qml
Icon=calendar-app@30.png
_Name=Calendar
_Comment=A calendar for Ubuntu which syncs with online accounts.
_Keywords=calendar;event;day;week;year;appointment;meeting;
X-Ubuntu-Touch=true
