[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/ubuntu-calendar-app
Icon=/usr/share/ubuntu-calendar-app/calendar64.png
Name=Calendar
