[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=calendar-app
Icon=${SNAP}/meta/gui/calendar-app@30.png
Name=Calendar
Name[aa]=Aysalu
Name[am]=የቀን መቁጠሪያ
Name[ar]=التقويم
Name[ast]=Calendariu
Name[az]=Təqvim
Name[be]=Каляндар
Name[bg]=Календар
Name[br]=Deiziadur
Name[bs]=Kalendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[cs]=Kalendář
Name[cy]=Calendr
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_AU]=Calendar
Name[en_CA]=Calendar
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fo]=Kalendari
Name[fr]=Agenda
Name[fr_CA]=Agenda
Name[gd]=Am mìosachan
Name[gl]=Calendario
Name[gu]=કેલેન્ડર
Name[he]=לוח שנה
Name[hr]=Kalendar
Name[hu]=Naptár
Name[id]=Kalender
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[km]=ប្រតិទិន
Name[ko]=캘린더
Name[lo]=ປະຕິທິນ
Name[lv]=Kalendārs
Name[ms]=Kalendar
Name[my]=ပြက္ခဒိန်
Name[nb]=Kalender
Name[nl]=Agenda
Name[pa]=ਕਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ro]=Calendar
Name[ru]=Календарь
Name[shn]=ပၵ်းယဵမ်ႈဝၼ်း
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=Календар
Name[sv]=Kalender
Name[ta]=நாள்காட்டி
Name[te]=క్యాలెండర్
Name[tr]=Takvim
Name[ug]=يىلنامە
Name[uk]=Календар
Name[uz]=Taqvim
Name[zh_CN]=日历
Name[zh_HK]=行事曆
Name[zh_TW]=行事曆
Comment=A calendar for Ubuntu which syncs with online accounts.
Comment[aa]=Ubuntuh aysaluy gitaddih loowtat sinjaarah yani
Comment[am]=ለ ኡቡንቱ ቀን መቁጠሪያ ከ መስመር ላይ መግለጫዎች ጋር የሚስማማ
Comment[ar]=تقويم لأوبونتو يتيح مزامنة التقويم مع الحسابات على الإنترنت.
Comment[ast]=Un calendariu pa Ubuntu que sincroniza con cuentes en llinia.
Comment[az]=Ubuntu üçün onlayn hesablarla sinxronizasiya olunan təqvim
Comment[be]=Каляндар для Ubuntu, які сінхранізуецца з сеціўнымі контамі.
Comment[br]=Un deiziadur evit Ubuntu hag a vez sinkronelaet gant kontoù enlinenn.
Comment[bs]=Kalendar za Ubuntu koji se sinhronizuje sa online računima.
Comment[ca]=Un calendari per a l'Ubuntu que sincronitza amb comptes en línia.
Comment[ca@valencia]=Un calendari per a l'Ubuntu que sincronitza amb comptes en línia.
Comment[cs]=Kalendář Ubuntu, který se synchronizuje s online účty.
Comment[cy]=Calendr ar gyfer Ubuntu sy'n cydweddu â chyfrifon ar-lein
Comment[da]=En kalender til Ubuntu, som synkroniserer med onlinekonti.
Comment[de]=Ein Kalender für Ubuntu, welcher sich mit Internetkonten synchronisiert.
Comment[el]=Ένα ημερολόγιο για το Ubuntu που συγχρονίζεται με τους συνδεδεμένους σας λογαριασμούς.
Comment[en_AU]=A calendar for Ubuntu which syncs with online accounts.
Comment[en_GB]=A calendar for Ubuntu which syncs with online accounts.
Comment[es]=Un calendario para Ubuntu que sincroniza con cuentas en línea.
Comment[eu]=Lineako kontuekin sinkronizatzen den Ubunturako egutegia.
Comment[fa]=تقویمی برای اوبونتو که با حساب‌های برخط هم‌گام می‌شود.
Comment[fi]=Kalenteri Ubuntulle, joka on synkronoitavissa verkkotilien kanssa.
Comment[fo]=Ein kalendari til Ubuntu ið samstillar við álinjukontur.
Comment[fr]=Un agenda pour Ubuntu qui se synchronise avec les comptes en ligne.
Comment[fr_CA]=Un agenda pour Ubuntu qui se synchronise avec les comptes en ligne.
Comment[gd]=Mìosachan airson Ubuntu a nì sioncronachadh ri cunntasan air loidhne.
Comment[gl]=Calendario para Ubuntu que se sincroniza coas contas en liña.
Comment[he]=יומן לאובונטו שמסתנכרן עם חשבונות מקוונים.
Comment[hr]=Ubuntu kalendar koji se može uskladiti s online kalendarima
Comment[hu]=Ubuntu naptár, amely szinkronizál az online fiókokkal.
Comment[is]=Dagatal fyrir Ubuntu með samstillingu við netreikninga.
Comment[it]=Un calendario per Ubuntu che si sincronizza con gli account online.
Comment[ja]=オンラインアカウントと同期するUbuntu用のカレンダー。
Comment[km]=ប្រតិទិន​សម្រាប់ Ubuntu ដែល​ធ្វើ​សមកាលកម្ម​ជា​មួយ​គណនី​លើ​បណ្ដាញ។
Comment[ko]=우분투 온라인 계정과 달력을 동기화
Comment[lv]=Ubuntu kalendārs, kurš sinhronizējas ar tiešsaistes kontiem
Comment[ms]=Kalendar untuk Ubuntu yang dapat disegerak dengan akaun atas talian.
Comment[nb]=En kalender for Ubuntu som kan synkroniseres med nettkontoer.
Comment[nl]=Een agenda voor Ubuntu die synchroniseert met online-accounts.
Comment[pa]=ਉਬੰਤੂ ਲਈ ਇੱਕ ਕੈਲੰਡਰ ਜੋ ਆਨਲਾਈਨ ਖਾਤਿਆਂ ਨਾਲ ਸਿੰਕ ਹੈ।
Comment[pl]=Kalendarz Ubuntu z synchronizacją kont online
Comment[pt]=Um calendário para o Ubuntu que se sincroniza com contas online.
Comment[pt_BR]=Um calendário para Ubuntu que sincroniza com as contas online.
Comment[ro]=Un calendar pentru Ubuntu care se poate sincroniza cu conturile online.
Comment[ru]=Календарь для Ubuntu, который синхронизируется с учётными записями онлайн.
Comment[sk]=Kalendár pre Ubuntu, ktorý sa synchronizuje s online účtami.
Comment[sl]=Koledar za Ubuntu, ki se usklajuje s spletnimi računi.
Comment[sr]=Календар за Убунту који се синхронизује са налозима на мрежи.
Comment[sv]=En kalender för Ubuntu som synkroniserar med nätkonton.
Comment[tr]=Ubuntu için çevrimiçi hesaplarla eşleme yapan bir takvim.
Comment[ug]=توردىكى ھېساباتلار بىلەن قەدەمداشلىغىلى بولىدىغان ئۇبۇنتۇ يىلنامىسى.
Comment[uk]=Календар для Ubuntu із синхронізацією з іншими календарями у інтернеті.
Comment[zh_CN]=与在线账户同步的 Ubuntu 日历软件。
Comment[zh_HK]=Ubuntu 行事曆，可與線上帳號同步。
Comment[zh_TW]=Ubuntu 行事曆，可與線上帳號同步。
Keywords=calendar;event;day;week;year;appointment;meeting;
Keywords[aa]=aysalu;tekko;ayro;ayyaama;liggida;xagana;angaarawa;
Keywords[am]=ቀን መቁጠሪያ:ሁኔታ:ቀን:ሳምንት:አመት:ቀጠሮ:ስብሰባ:
Keywords[ar]=تقويم;حدث;يوم;أسبوع;اسبوع;سنة;موعد;اجتماع;
Keywords[ast]=calendariu;eventu;día;selmana;añu;cita;reunión;
Keywords[az]=təqvim;tədbir;gün;həftə;il;vədə;görüş;
Keywords[be]=каляндар; падзея; дзень; тыдні; год; прызначэнне; сустрэча;
Keywords[br]=deiziadur;darvoud;deiz;sizhun;bloaz;emgav;emvod;
Keywords[bs]=kalendar;događaj;dan;sedmica;godina;zakzano;sastanak;
Keywords[ca]=calendari;esdeveniment;dia;setmana;any;cita;reunió;
Keywords[ca@valencia]=calendari;esdeveniment;dia;setmana;any;cita;reunió;
Keywords[cs]=kalendář;údálost;den;týden;rok;schůzka;setkání
Keywords[cy]=calendr;digwyddiad;diwrnod;wythnos;blwyddyn;apwyntiad;cyfarfod;
Keywords[da]=kalender;begivenhed;dag;uge;år;aftale;møde;
Keywords[de]=Kalender,Veranstaltung,Tag,Woche,Jahr,Termin,Treffen;
Keywords[el]=ημερολόγιο;συμβάν;ημέρα;εβδομάδα;έτος;ραντεβού;συνάντηση
Keywords[en_AU]=calendar;event;day;week;year;appointment;meeting;
Keywords[en_GB]=calendar;event;day;week;year;appointment;meeting;
Keywords[es]=calendario;evento;día;semana;año;cita;reunión;
Keywords[eu]=egutegia;gertaera;eguna;astea;hila;urtea;hitzordua;bilera;
Keywords[fa]=تقویم؛رویداد؛روز؛هفته؛سال؛قرار ملاقات؛جلسه؛
Keywords[fi]=calendar;event;day;week;year;appointment;meeting;kalenteri;tapahtuma;päivä;viikko;tapaaminen;kokous;
Keywords[fo]=kalendari;hending;dagur;vika;ár;avtala;fundur;
Keywords[fr]=agenda;calendrier;événement;jour;semaine;année;rendez-vous;rdv;réunion;
Keywords[fr_CA]=agenda;calendrier;événement;jour;semaine;année;rendez-vous;rdv;réunion;
Keywords[gd]=calendar;event;day;week;year;appointment;meeting;mìosachan;tachartas;là;latha;seachdain;mìos;bliadhna;coinneamh;ceann-là;ceann-latha;
Keywords[gl]=calendario;actividade;evento;día;semana;ano;cita;xuntanza;
Keywords[he]=יומן;לוח שנה;אירוע;יום;שבוע;חודש;שנה;פגישה;מפגש;
Keywords[hr]=calendar;event;day;week;year;appointment;meeting;
Keywords[hu]=naptár;esemény;nap;hét;év;találkozó;megbeszélés;
Keywords[is]=dagatal;atburður;dagur;vika;ár;stefnumót;fundur;
Keywords[it]=calendario;evento;giorno;settimana;anno;appuntamento;riunione;
Keywords[ja]=calendar;event;day;week;year;appointment;meeting;カレンダー;イベント;予定表;日;週;年;約束;ミーティング;
Keywords[km]=ប្រតិទិន;ព្រឹត្តិការណ៍;ថ្ងៃ;សប្ដាហ៍;ឆ្នាំ;ការ​ណាត់ជួប;ប្រជុំ;
Keywords[ko]=달력, 이벤트, 일, 주, 년, 약속, 모임;
Keywords[lv]=kalendārs;notikums;diena;nedēļa;gads;tikšanās;pieraksts;
Keywords[ms]=kalendar;peristiwa;hari;minggu;tahun;temujanji;mesyuarat;
Keywords[nb]=kalender;hendelse;dag;uke;år;avtale;møte;
Keywords[nl]=calendar;event;day;week;year;appointment;meeting;agenda;gebeurtenis;dag;week;jaar;afspraak;bijeenkomst;
Keywords[pa]=ਕੈਲੰਡਰ;ਸਮਾਗਮ;ਦਿਨ;ਹਫ਼ਤਾ;ਸਾਲ;ਮਿਲਣ ਦਾ ਸਮਾਂ;ਮੀਟਿੰਗ;
Keywords[pl]=kalendarz;wydarzenie;dzień;tydzień;rok;wizyta;spotkanie;
Keywords[pt]=calendário;evento;dia;semana;ano;consulta;reunião;
Keywords[pt_BR]=calendário;evento;dia;semana;ano;encontro;reunião;
Keywords[ro]=calendar;eveniment;zi;săptămână;an;întâlnire;ședință;
Keywords[ru]=календарь;событие;день;неделя;год;встреча;собрание;
Keywords[sk]=kalendár;udalosť;deň;týždeň;rok;stretnutie;schôdza;
Keywords[sl]=koledar;dogodek;dan;teden;leto;sestanek;srečanje;
Keywords[sr]=календар;догађај;дан;недеља;година;састанак;сусрет;
Keywords[sv]=kalender;händelse;dag;vecka;år;tidsbestämt möte;möte;
Keywords[tr]=takvim;etkinlik;gün;hafta;yıl;randevu;toplantı;
Keywords[ug]=يىلنامە;ھادىسە;كۈن;ھەپتە;يىل;دېيىشمە;يىغىن;
Keywords[uk]=calendar;event;day;week;year;appointment;meeting;календар;подія;день;тиждень;рік;зустріч;нарада;
Keywords[zh_CN]=calendar;event;day;week;year;appointment;meeting;日历;会;天;月;年;星期;周;
Keywords[zh_HK]=calendar;event;day;week;year;appointment;meeting;行事曆;事件;活動;日期;天;日;週;周;年;約會;會面;會議;行程;
Keywords[zh_TW]=calendar;event;day;week;year;appointment;meeting;行事曆;事件;活動;日期;天;日;週;周;年;約會;會面;會議;行程;
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#f5f5f5
X-Ubuntu-SymbolicIcon=${SNAP}/meta/gui/calendar-app-symbolic.svg
