Source: ubuntu-calendar-app
Priority: extra
Maintainer: Ubuntu App Cats <ubuntu-touch-coreapps@lists.launchpad.net>
Build-Depends: debhelper (>= 9), 
Standards-Version: 3.9.4
Section: misc
Homepage: https://launchpad.net/ubuntu-calendar-app

Package: ubuntu-calendar-app
Section: misc
Architecture: all
Depends: qmlscene,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Calendar application for Ubuntu devices
 The Calendar application for Ubuntu devices lets you organise your life your
 way by month, week or daily diary.
 .
 It’s about the task and the context; use the calendar app as a todo list,
 a diary, a planner, a journal, a life log; and the calendar will behave how
 you need it to.
