Source: ubuntu-calendar-app
Priority: extra
Maintainer: Ugo Riboni <ugo.riboni@canonical.com>
Build-Depends: debhelper (>= 8.0.0), 
Standards-Version: 3.9.3
Section: misc
Homepage: https://launchpad.net/ubuntu-calendar-app

Package: ubuntu-calendar-app
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         qmlscene,
         qt-components-ubuntu,
         qtdeclarative5-qtquick2-plugin
Description: Calendar application
 Core Calendar application

