Source: calendar-app
Priority: extra
Maintainer: Ubuntu App Cats <ubuntu-touch-coreapps@lists.launchpad.net>
Build-Depends: cmake,
               debhelper (>= 9),
               intltool,
               python3,
               qtdeclarative5-dev-tools,
               qt5-default,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-qtorganizer-plugin,
               qtdeclarative5-test-plugin,
Standards-Version: 3.9.4
Section: misc
Homepage: https://launchpad.net/ubuntu-calendar-app
Vcs-Bzr: https://code.launchpad.net/~ubuntu-calendar-dev/ubuntu-calendar-app/trunk

Package: calendar-app
Architecture: all
Depends: ${misc:Depends},
         qmlscene,
         qtdeclarative5-quicklayouts-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         ${misc:Depends},
         libqt5organizer5,
         qtdeclarative5-qtorganizer-plugin,
         qtorganizer5-eds,
         qtdeclarative5-ubuntu-syncmonitor0.1,
         ubuntu-mobile-icons | suru-icon-theme,
         libqt5contacts5,
         qtdeclarative5-qtcontacts-plugin,
         qtcontact5-galera,
Description: Calendar application for Ubuntu devices
 The Calendar application for Ubuntu devices lets you organise your life your
 way by month, week or daily diary.
 .
 It’s about the task and the context; use the calendar app as a todo list,
 a diary, a planner, a journal, a life log; and the calendar will behave how
 you need it to.

Package: calendar-app-autopilot
Architecture: all
Depends: libautopilot-qt (>= 1.4),
         libqt5test5,
         calendar-app (= ${source:Version}),
         python3-dateutil,
         ubuntu-ui-toolkit-autopilot,
         address-book-service-dummy,
         address-book-service-testability
Description: Autopilot tests for Ubuntu Calendar Application
 This package contains autopilot tests for the Ubuntu Calendar application.

Package: ubuntu-calendar-app
Architecture: all
Depends: calendar-app, ${misc:Depends}
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
