#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_test:
	QT_QPA_PLATFORM=minimal qmltestrunner -input tests/unittests/

override_dh_install:
	dh_install --fail-missing
	appname=calendar-app; \
	for pofile in $(shell find ./po -name "*.po"); do \
		pofilename="$${pofile##*/}"; \
		langcode="$${pofilename%.*}"; \
		localedir="usr/share/locale/$$langcode/LC_MESSAGES"; \
		mofile="$$appname.mo"; \
		msgfmt -o $$mofile $$pofile; \
		dh_install $$mofile $$localedir; \
		rm -f $$mofile; \
	done
